<nav class="navbar navbar-expand-xl navbar-light bg-light fixed-top w-100 shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">Recetas de Maite</a>

    <div class="d-flex ms-auto order-xl-last align-items-center gap-2">
        <input 
            class="form-control me-2" 
            type="search" 
            placeholder="Buscar..." 
            [(ngModel)]="searchTerm" 
            (input)="onSearch()">
        <div class="d-none d-md-flex align-items-center bg-white border rounded px-2 py-1" style="height: 38px;">
            <app-star-rating 
                [rating]="recetasService.minRating()" 
                [readOnly]="false"
                (ratingClicked)="filtrarPorEstrellas($event)">
            </app-star-rating>
            
            @if (recetasService.minRating() > 0) {
                <span 
                    class="ms-2 text-danger fw-bold" 
                    style="cursor: pointer;" 
                    (click)="filtrarPorEstrellas(0)">
                    ✕
                </span>
            }
        </div>

        
    </div>
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
       <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" [class.show]="menuOpen">
       <ul class="navbar-nav me-auto">
          <li class="nav-item">
             <a class="nav-link" style="cursor: pointer;" (click)="openModal()">Nueva Receta</a>
          </li>
       </ul>
    </div>
  </div>
</nav>

@if (showModal) {
  <div class="custom-modal-backdrop" (click)="closeModal()">
    <div class="custom-modal" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h5>Crear Nueva Receta</h5>
        <button class="close-btn" (click)="closeModal()">X</button>
      </div>
      <div class="modal-body">
        <app-form (cancel)="closeModal()"></app-form>
      </div>
    </div>
  </div>
}